<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  form {
    display  : "block";
    background-color: aqua;
    max-width : 800px;
  }
</style>
</head>
<body>
<form  >
<input id="NameBox" required type="text"placeholder="Name">
  <input id = "EmailBox" type = "email"  placeholder="email id">
  <input id = "OtpBox" type="text"  maxlength="6" minlength="6" placeholder="OTP">
  
  <button id="GenOTP" type = "button">Generate OTP</button>
<p id="info"></p>

  <input id='UsernameBox' type='text'   placeholder = 'username'  required>
  <input id='PasswordBox' type='password'  placeholder="password"  required>
  <input id='TokenBox' type='password'  placeholder="token"  required>
  <button type='button' id = "SubmitRegister">Submit</button>

</form>
<script>
    const submitbtn = document.getElementById('SubmitRegister');
    const genotpbtn = document.getElementById('GenOTP')
 
const buttons = document.querySelectorAll('button');



buttons.forEach(button => {
  button.addEventListener('click', async (event) => {
    try {
      
      const response = await fetch('/ping');
      if (!response.ok) throw new Error('Ping failed');
      const data = await response.json();

       
      const clickedButtonId = event.target.id;
 

    } catch (error) {
      alert('Server is down. Please try again after some time');
    }
  });
});

    genotpbtn.addEventListener('click',generate=>{
      generate.preventDefault()
      alert("Please wait!! Attempting to send mail.")
      const name = document.getElementById('NameBox').value;
      const email = document.getElementById('EmailBox').value;
      const request_type = "GenerateOtp"
      const register_pack = {
        name : name,
        email : email,
        request_type : request_type
      }
      fetch('/register',{
        method : "POST",
        headers : {
          "Content-Type" : "application/json"
        }, body : JSON.stringify(register_pack)
      })
      .then(res=> res.json()).then (server => {
        {
          alert(server.message)
        } 
      })
    })

submitbtn.addEventListener("click", e=>{
  e.preventDefault()
  const username = document.getElementById("UsernameBox").value;
  const password = document.getElementById("PasswordBox").value;
  const token = document.getElementById("TokenBox").value;
  const otp =  document.getElementById("OtpBox").value
  const request_type = "SubmitDetails";
  const register_pack = {
    username : username,
    password : password,
    token : token,
    otp : otp,
    request_type : request_type
  }
      fetch('/register',{
        method : "POST",
        headers : {
          "Content-Type" : "application/json"
        }, body : JSON.stringify(register_pack)
      }).then(res=> res.json()).then (server => {
        
        if (server.status === "dbsuccess"){
          window.location.href = "/login"
        }
        else {
          alert(server.message);
          
        } 
      })
})


</script>

</body>
</html>