<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employees</title>
</head>
<body>
    <form id = "addEmployees">
        <input placeholder="Name" required type = "text" id="Name">
        <input placeholder="Email" required type = "email" required id="Email" >
        <button onclick = "GenerateOTP()">Generate OTP</button>
        <input placeholder = "OTP SENT TO EMAIL" id="OTP" required pattern="{6}[0-9]">
        <input placeholder = "Phone number" id="PhoneNumber" required>
        <button onclick="SubmitForm()">Submit</button>
    </form><script>
        const phonenumber = document.getElementById('PhoneNumber');
        const name = document.getElementById('Name');
        const otp = document.getElementById('OTP');
        const email = document.getElementById('Email');
        

        function GenerateOTP(){

            const genotp = {
                name : name.value,
                email : email.value,
                request_type : "Generate otp"
            }
            

        }
        function SubmitForm(){
            const employee = {
                name : name.value,
                email : email.value,
                phone_no : phonenumber.value,
                request_type : "Submit Employee"
            }
            fetch('/addemployees', {
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                }, body : JSON.stringify(employee)
            }
            ).then (res => res.json()).then (submit => {
                
            })
        }
    </script>
</body>
</html>