<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  form {
    display  : "block";
    background-color: aqua;
    max-width : 800px;
  }
</style>
</head>
<body>
<form  >
<input id="NameBox" required type="text"placeholder="Name">
  <input id = "EmailBox" type = "email" maxlength="150" placeholder="email id">
  <input id = "OtpBox" type="text" pattern="{6}[0-9]" maxlength="6" minlength="6" placeholder="OTP">
  
  <button id="GenOTP" type = "button">Generate OTP</button>
<p id="info"></p>

  <input id='UsernameBox' type='text' maxlength='15'  placeholder = 'username'  required>
  <input id='PasswordBox' type='text' maxlength='15' placeholder="password"  required>
  <input id='TokenBox' type='text' maxlength='15' placeholder="token"  required>
  <button type='button' id = "SubmitRegister">Submit</button>

</form>
<script>
    const submitbtn = document.getElementById('rahul');
    const genotpbtn = document.getElementById('GenOTP')

    genotpbtn.addEventListener('click',generate=>{
      generate.preventDefault()

      const name = document.getElementById('NameBox').value
      const email = document.getElementById('EmailBox').value
      const request_type = "GenerateOtp"
      const register_pack = {
        name : name,
        email : email,
        request_type : request_type
      }
    })




</script>

</body>
</html>